# {{ project_name }}

This project has been generated using AlgoKit. See below for default getting started instructions.

# Setup

### Initial setup

Install the dependencies:

```bash
poetry install
```

### Running the tests

```bash
poetry shell
python -m unittest discover -p '*_test.py'
```

### Compiling tealish

```bash
tealish compile src/{{project_name}}.tl
```
